/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav bar */
nav{
    position: fixed;
     width: 100%;
     z-index: 1000;
     
   }
   .nav-bar{
     margin-top:-60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      position: relative;
      background-color: palevioletred;
      width: 100%;
   }
   .nav-bar h2{
     color: white;
   }
   .menu{
      display: flex;
   }
   .menu li{
      padding-left: 30px;
   }
   
   .menu li a{
      text-decoration: none;
      display: inline-block;
      color: white;
      text-align: center;
      transition: 0.15s ease-in-out;
      position: relative;
      text-transform: uppercase;
   }
   .menu li a::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--color1);
      transition: 0.15s ease-in-out;
   }
  
   .menu li a:hover:after{
      width:100%;
   }
   .open-menu {
      position: absolute;
      color: var(--color1);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
   }
   .open-menu{
      top: 30%;
      right: 20px;
      transform: translateY(-50%);
   }
   #check{
    
      display: none;
   }
/* Nav bar logo */

@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Kalam&family=Poppins:ital,wght@1,200;1,300&display=swap');



.logo{
    height: 70px;
    width: 200px;
}
/* Nav bar content */
.logo1{
    
    float: right;
    padding: 14px;
    text-decoration: none;
    margin-top: 12px;
}
.logo1:hover{
    background-color:crimson;
    color: white
}


.div1{
    height: 550px;
    width: 40%;
    /* background-color: white; */
    background: linear-gradient(rgba(119, 0, 255, 0.548),rgba(20, 3, 6, 0.856));
    /* padding: 5px; */
    border-top-left-radius: 60px;
    
}

.div2{
    padding-top: 22px;
    height: 550px;
    width: 40%;
    background-color: rgb(211, 195, 195);
    border-bottom-right-radius: 60px;
}


.Overall{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 100%;
    margin-top: 60px;
    background: linear-gradient(violet,yellowgreen);
    font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;


}



form{
    
    width: 100%;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  h1{
    margin: 0;
    text-align: center;
  }
  label{
    display: block;
    margin: 20px 0;
  }
  input,textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
  
    border-bottom: 1px solid #D3D3D3;
  }

  input[type="text"]:focus,textarea:focus{
    border-bottom: 1px solid rgba(255, 0, 0, 0.568);
  }
  textarea::-webkit-scrollbar{
    width: 4px;
  }
  textarea::-webkit-scrollbar-thumb{
    background-color: rgba(255, 0, 0, 0.568);
  }


.g{
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
}
i{
    margin-right: 20px;
}
.p3{
    margin-bottom: 40px;
    margin-left:30px ;
}
.p2{
    margin-left: 40px;
    margin-bottom: 40px;
}
.f{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 25px;
    color: white;
}
.p1{
    margin-left: 30px;
    margin-bottom: 25px; 
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    color: white;

    
}
.p4{
    padding: 0px 0px 80px 0px ;

}
button{
    margin-left: 30px;
    margin-top: 30px;
    color:#15f4ee;
    background:transparent;
    border: 2px solid #15f4ee;
    padding: 10px;
    border-radius: 20px;
    
}
button:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
    cursor: pointer;
}

/* Container9 start */
.container9{
    height: 680px;
    width: 100%;
    background-color: #0b2149;
    display: flex;
    font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;

    
}
.container9:hover{
    cursor: pointer;
    background-color: orangered;
}
.box8{
    height: 450px;
    width: 200px;
    
    
    
}
.box8 a{
      text-decoration: none;
      display: block;
      margin-top: 20px;
      margin-left: 20px;
      color: white;
}
.parent3{
    height: 600px;
    width: 40%;
    
    padding: 40px;
}



.parent3 h3{
    margin-top: 16px;
    color: #8295ba;

}
.parent3 h4{
    margin-top: 35px;
    margin-bottom: 200px;
    font-size: 20px;
    color: #8295ba;
}
.parent3 a{
    text-decoration: none;
    color: white;
}


.img6{
    height: 60px;
    width: 120px;
    margin-left: 45px;
}
.a2{
    font-size: 20px;
    margin-top: 10px;
}
.parent3 span{
    display: block;
    margin-top: 20px;
    color: #8295ba;
   
}
.parent3 a{
    padding: 10px;
    margin-top: 10px;
}

.parent4{
    height: 600px;
    width: 60%;
    background-color:#0b2149; ;
    display: flex;
    gap: 12px;
}
.parent4:hover{
    background-color: orangered;
}
.parent4 i{
    color: white;
    font-size: 30px;
    margin-top: 550px;
    margin-right: 20px;
}

.parent3 a:hover{
    text-decoration-line: underline;
    
}
.box8 a:hover{
    text-decoration: underline;
}

/* Container9 end */


/* media query for tab screen start*/
@media only screen and (min-width:500px) and (max-width:920px) {
   
   
    .menu {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: orangered;
        transition: all 0.7s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu  {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    .Overall{  
        width: 920px;
        height: 600px;
        margin-top: 50px;

    }
    .container9{
        width: 920px;
     }
    
}

/* media query for tab screen end*/


/* media query for mobile screen start */
@media only screen and (min-width:300px) and (max-width:500px) {
    
    .menu{
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 220vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: orangered;
        transition: all 0.7s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu  {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    .Overall{
        display: flex;
        flex-direction: column;
        width: 720px;
        height: 1100px;
        

    }
    
    .div1{
        background: linear-gradient(blue,yellowgreen);
        width: 500px;

    }
    .div2{
        width: 500px;
        
        
    }

    .container9{
        width: 720px;
        display: flex;
        flex-direction: column;
     }

     .parent4{
        width: 720px;
        display: flex;
        justify-content: center;
      }
    .parent3{
        
        width: 720px;
    }
}
/* media query for mobile screen end */