

/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav bar */
nav{
    position: fixed;
     width: 100%;
     z-index: 1000;
   }
   .nav-bar{
     
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      position: relative;
      background-color: palevioletred;
     width: 100%;
   }
   .nav-bar h2{
     color: white;
   }
   .menu{
      display: flex;
   }
   .menu li{
      padding-left: 30px;
   }
   
   .menu li a{
      text-decoration: none;
      display: inline-block;
      color: white;
      text-align: center;
      transition: 0.15s ease-in-out;
      position: relative;
      text-transform: uppercase;
   }
   .menu li a::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--color1);
      transition: 0.15s ease-in-out;
   }
  
   .menu li a:hover:after{
      width:100%;
   }
   .open-menu {
      position: absolute;
      color: var(--color1);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
   }
   .open-menu{
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
   }
   #check{
    
      display: none;
   }
   /* Navbar end */
/* Nav bar logo */
.logo{
    height: 70px;
    width: 200px;
}
/* Nav bar content */
.logo1{
    
    float: right;
    padding: 14px;
    text-decoration: none;
    margin-top: 12px;
}
.logo1:hover{
    background-color:crimson;
    color: white
}

  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Kalam&family=Poppins:ital,wght@1,200;1,300&display=swap');



/* Container1 start */
.container1{
    padding: 70px;
    width: 100%; 
    display: flex;
    align-items: center;
    
}
.child1{
    
   height: 800px;
   width: 50%;
    position: relative;
    display: flex;
    align-items: center;
   
}
.child2{
    height: 160px;
    width: 50%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;

}

 .child2:hover{
    cursor: pointer;
    background-color: yellow;
    height: 500px; 
 }

.img1{
    height: 700px;
    width: 100%;
}

/* Container1 end */

/* Container2 start */
.container2{
    padding: 70px;
     width:  100%;
    background-color: blue;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap:20px;
    font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;

}
.heading2 p{
        margin-top: 8px;
}
.box1{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.i1a{
    height: 100px;
    width: 100px;
    background-color: gold;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 10s;

}
.i1a:hover{
    height: 150px;
    width: 150px;
}
.i1{
    font-size: 60px;
}
.i1:hover{
    font-size: 80px;
}
.a1{
    font-size: 40px;
    text-decoration: none;
}
.a1:hover{
         color: red;
}


  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Kalam&family=Poppins:ital,wght@0,200;1,200;1,300&display=swap');

/* Container2 end */


/* Container3 start */
    .container3{
        padding: 70px;
        width: 100%;
        background-color: blue;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 25px; 
    }
   
    .heading1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 100%;
        background-color: blue ;
        color: white;
         font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;  
 }

 .head1{
    text-align: center;
    margin-top: 50px;
 }
 .head1 p{
   
    margin-top: 10px;
 }

    .heading2{
        height: 160px;
        width: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .img2{
        height: 270px;
        width: 270px;
        padding-top: 15px;
    }
    .img2:hover{
        height: 280px;
        width: 280px;
    }
    .box2{
        height: 440px;
        width: 300px;
        background-color: white;
        text-align: center;
        border-radius: 15px;
           
    }
    .Mo{
        font-size: 20px;
    }
    .box2 p{
       margin-top: 10px;
        margin-bottom: 10px;

    }
    .box2 h3{
        margin-top: 20px;
    }
/* Container3 end */

/* Container4 start */
   .container4{
    padding: 70px;
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items:center;
    gap: 0px 2px;
    font-family: 'Agdasima', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;
   }

   .box3{
    height: 260px;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;

   }

   @keyframes example {
    0%   {background-color:skyblue;}
    25%  {background-color: hotpink;}
    50%  {background-color: springgreen;}
    100% {background-color: lawngreen;}
  }
   .box3 h1{
    color: blueviolet;
    font-size: 25px;
   }
   .box3 p{
          margin-top: 10px;
          font-size: 20px;    
   }
   .box3 i{
    font-size: 40px;
    float: right;
    margin-top: 20px;
   }

   /* Container4 end */

   /* Container5 start */
   .container5{
   padding: 70px;
    width: 100%;
    background-color: blue;
    display: flex;
   }
   .parent1{
    height: 400px;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 50px;
    justify-content: center;
    align-items: center;
   }
   .parent2{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   }
   .box4{
    height: 160px;
    width: 160px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .box4:hover{
    background-color: plum;
   }
   .box4 h1{
    font-size: 70px;

   }
   .parent2 h2  {
    font-size: 50px;
   }
   .parent2 p{
    font-size: 30px;
   }
   .parent2 button{
    background-color: yellow;
    padding: 16px 30px 16px 30px;
    margin-top: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   }
   .parent2 button:hover{
    background-color: white;
   }
/* Container5 end */

/* Container6 start */
.container6{
   padding: 20px;
    width: 100%;
    background-color: blue;
    display: flex;
}

.box5{
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3{
    height: 520px;
    width: 520px;
}
.box5a{
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    line-height: 28px;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.box5a h1{
    margin-top: 26px;

}
.box5a p{
    margin-top: 20px;
}

.box5a button{
    background-color: yellow;
    padding: 16px 30px 16px 30px;
    margin-top: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   }
   .box5a button:hover{
         background-color: red;
         color: white;
   }
  /* Container6 end */

  /* Container7 start */
   .container7{
                width: 100%;
                background-color: white;
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                align-items: center;
                gap: 5px;
                line-height: 25px;
   }
   .box6{
    height: 200px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
    .box6a{
        height: 240px;
        width: 240px;
        background-color: white;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .box6 i{
        font-size: 85px;
        color: blue;
    }
    .img4{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 6px solid palevioletred;
    }
    .box6 p{
        margin-top: 12px;
    }
    .box6 h3{
        color: blue;
    }
    /* Container7 end */
   
    /* Container8 start */
    .container8{
        width: 100%;
        background-color: lightgray;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 12px;

    }

    .box7{
        height: 200px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img5{
        height: 80px;
        width: 210px;
        object-fit: contain;
    }
    .img5:hover{
        height: 100px;
        width: 220px;
    }
    .heading3{
        height: 80px;
        width: 100%;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .parent4{
        height: 680px;
        width: 60%;
        
        display: flex;
        gap: 12px;
    }
    .parent4 i{
        color: white;
        font-size: 30px;
        margin-top: 650px;
        margin-right: 20px;
    }
    .parent3 span{
        display: block;
        margin-top: 20px;
        color: #8295ba;
       
    }
    .parent3 a{
        padding: 10px;
        margin-top: 10px;
    }
    /* Container8 end */

    /* Container9 start */
    .container9{
       padding-bottom: 200px;
        width: 100%;
        background-color: #0b2149;
        display: flex;
        font-family: 'Agdasima', sans-serif;
        font-family: 'Kalam', cursive;
        font-family: 'Poppins', sans-serif; 
    }

    .box8{
        height: 450px;
        width: 200px; 
    }
    .box8 a{
          text-decoration: none;
          display: block;
          margin-top: 20px;
          margin-left: 20px;
          color: white;
    }
    .parent3{
        height: 720px;
        width: 40%;
        padding: 40px;
    }
    .parent3 h3{
        margin-top: 16px;
        color: #8295ba;
    
    }
    .parent3 h4{
        margin-top: 35px;
        margin-bottom: 360px;
        font-size: 20px;
        color: #8295ba;
    }
    .parent3 a{
        text-decoration: none;
        color: white;
    }
    .parent3 a:hover{
        text-decoration-line: underline;
        
    }
    .box8 a:hover{
        text-decoration: underline;
    }
    
    .img6{
        height: 60px;
        width: 120px;
        margin-left: 45px;
    }
    .a2{
        font-size: 20px;
        margin-top: 10px;
    }

/* Container9 end */


/* media query for tab screen start*/
@media  only screen and (min-width:500px) and (max-width:920px){
    
    .nav-bar{
        width: 919px;
        
    }
    .menu {
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgb(211, 195, 195);;
        transition: all 0.7s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu  {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    
    
    .container1{
        flex-direction: column;
        justify-content: center;
         width: 919px; 
    }
    .container2{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 40px;
        width: 919px;
        /* background-color: goldenrod; */
       
    }

    .child2{
        width: 919px;
        
    }

    .heading1{
        width: 919px;
        /* background-color: deeppink; */
    }
    .container3{
        width: 919px;
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: deeppink; */
       
    }
    .heading2{
        width: 919px;
        /* background-color: coral; */
    }

    .container4{
        display: grid;
        grid-template-columns: auto auto;
        width: 919px;
        /* background-color: coral; */
    }
    .container5{
        
        width: 919px;
        /* background-color: plum;
         */
    }
    
    .box4{
        /* background-color: plum; */
    }

 .container6{
    width: 919px;
    /* background-color: springgreen; */

 }
 .container7{
    width: 919px;
 }
 .container8{
    width: 919px;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: navajowhite; */
 }
 .heading3{
    width: 919px;
    /* background-color: navajowhite; */
 }
 .container9{
    width:919px;
    /* background-color: sandybrown; */
 }
} 
/* media query for tab screen end*/

/* media query for mobile screen start */
@media  only screen and (min-width:250px) and (max-width:500px){
    .nav-bar{
        width: 656px;
    }
    .menu{
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 195vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: steelblue;
        transition: all 0.7s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu  {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    .container1{
        flex-direction: column;
        width: 656px;
    }
    .box2{
        margin-top: 30px;
    }
    .container2{
        display: grid;
        grid-template-columns: auto;
        /* height: 2100px; */
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 656px;
       /* background-color: hotpink; */

    }
.heading2{
    width: 656px;
    height: 160px;
    /* background-color: orange; */
}
    .child2{
        width: 656px;
        
    }

    .heading1{
        width: 656px;
        /* background-color: limegreen; */
        
    } 
    .container3{
        width: 656px; 
        display: grid;
        grid-template-columns: auto;
        /* height: 1500px; */
        /* background-color: limegreen; */
        
    }
    .box2{
        margin-top: 30px;
    }
    .box3{
        margin-top: 20px;
    }
    .container4{
        width: 656px;
        display: grid;
        grid-template-columns: auto;
        height: 1900px;
        /* background:linear-gradient(orange,deeppink); */
        
    }
    .container5{
        display: flex;
        flex-direction: column;
        width: 656px;
        justify-content: center;
        align-items: center;
        /* height: 800px; */
        /* background:linear-gradient(pink, green); */
    }
   
    .head1 p{
        margin-top: 8px;
    }
    .parent1{
        width: 656px;

    }
    .parent2{
        width:656px;
    }

    .container6{
        width: 656px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 950px; */
        
    }

    .container7{
        width: 656px;
        display: grid;
        grid-template-columns: auto;
        /* height: 1400px; */
        
    }
    .box6{
        width: 450px;

    }
    .box6a{
        width: 450px;
    }
      .box6a .img4{
        margin-left: 220px;
      }
     .box6 i{
             margin-right: 240px;
     }
     .container8{
        width: 656px;
        display: grid;
        grid-template-columns: auto;
        /* height: 1270px; */
     }
      .heading3{
        width: 656px;

      }
      .container9{
       width: 656px;
        display: flex;
        flex-direction: column;
        /* background:linear-gradient(crimson,darkorchid); */
        /* height: 1200px; */
      }
         
      .parent4{
        width: 656px;
        display: flex;
        justify-content: center;
      }
    .parent3{ 
       width: 656px;
    }
    
     

      }
/* media query for mobile screen end */
